@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
}

.ff-inter { font-family: "Press Start 2P", system-ui; font-weight: 400; font-style: normal; }
.ff-roboto-mono { font-family: "Pixelify Sans", sans-serif; font-optical-sizing: auto; font-style: normal; }

h1 {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

h2 {
  color: #f0f0f0;
  font-size: 2rem;
  text-align: center;
}

.header {
  margin: 1rem auto 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.botao {
  background: #4583DC;
  color: #231E20;
  max-width: 270px;
  width: 250px;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid #4583DC;
  transition: 0.5s ease;
}

.botao:hover {
  border: 2px solid #231E20;
  font-weight: bold;
}

@media (min-width: 576px) {
  .container {
      width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
      width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
      width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
      width: 1140px;
  }
}


